    <link rel="stylesheet" href="/styles/login.css" charset="utf-8">
      <header class="sso_header">
        <a href="#" class="logo"></a>
      </header>
      <section class="content_box cleafix">
        <div class="row">
            <div class="col-md-6">
              <div class="left_area fl">
                <form action="" method="">
                  <div class="form_body" data-view="loginView">
                    <div class="input_item clearfix" data-propertyname="username" data-controltype="Phone" style="display: block;">
                      <input type="text" class="input input_white" id="" name="" placeholder="请输入已验证邮箱" data-required="required" autocomplete="off"
                        ng-model="user.email">
                    </div>
                    <div class="input_item clearfix" data-propertyname="password" data-controltype="Password" style="display: block;">
                      <input type="password" class="input input_white" id="" name="" placeholder="请输入密码" data-required="required" autocomplete="off"
                      ng-model="user.password">
                    </div>
                    <div class="input_item clearfix" data-propertyname="request_form_verifyCode" data-controltype="VerifyCode" style="display:none;">
                      <input type="text" class="input input_white fl" style="width:130px; display:block;" name="" placeholder="请输入验证码" data-required="required" autocomplete="off">
                      <img src="" alt="" class="yzm">
                      <a href="javascript:;" class="reflash"></a>
                    </div>
                    <div class="input_item clearfix">
                      <a href="http://passport.lagou.com/accountPwd/toReset.html" class="forgot_pwd">忘记密码？</a>
                    </div>
                    <div class="input_item clearfix" data-propertyname="submit" data-controltype="Botton" style="display: block;">
                      <input type="button" class="btn btn_green btn_active btn_block btn_lg" value="登&nbsp;录" ng-click="userLogin(user)">
                    </div>
                    <div class="input_item clearfix">
                      <h5 class="reg_now">还没有帐号？<a href="/register">立即注册</a></h5>
                    </div>
                    <input type="hidden" value="" id="isVisiable_request_form_verifyCode">
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <div class="divider fl">
            		<img src="http://pstatic.lagou.com/passport/static/pc/modules/common/img/divider-login_3362138.jpg" alt="分割线">
            	</div>
            	<div class="right_area fl">
            		<h5>使用以下帐号直接登录:</h5>
            		<ul class="vender_login clearfix">
            			<li><a href="/oauth20/auth_sinaWeiboProvider.html" title="使用新浪微博帐号登录" class="vender_icon icon_sina" target="_blank"></a></li>
            			<li><a href="/oauth20/auth_qqProvider.html" title="使用腾讯QQ帐号登录" class="vender_icon icon_tencent" target="_blank"></a></li>
            			<li class="last_child"><a href="/oauth20/auth_weixinProvider.html" class="vender_icon icon_wechat" title="使用微信帐号登录" target="_blank"></a></li>
            		</ul>
            	</div>
            </div>
        </div>


      </section>
